extends layouts/sample

block content
  include templates/github-corner.jade
  .layout-fullscreen.layout-centered.home
    h1.logotype minimalist components
    small agnostic to frameworks/library
    //- small clean code
    //- small high performance
    //- small minimal design


