extends layouts/sample

block content
  .layout-fullscreen.layout-centered.home
    //- header.header
      h2 Hi, my name is Darlan Mendonça

    h1 minimalist components
    small agnostic to frameworks/library
    //- small clean code
    //- small high performance
    //- small minimal design


